<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionString>
		<add name ="SqlConn"
			connectionString=" Server=K100FUEGOS\SQLEXPRESS; Database=Vehiculo_DB;
			Trutes_Connection=True; TrustServerCertificate=true;
			Connect Timeout=5; MultipleActiveResultSet=True"
			providerName="System.Data.SqlClient"
			/>
	</connectionString>
</configuration>